
body {background-color: rgb(0, 0, 0);}
h1 {
  color: rgb(255, 0, 179);
  font-size: 200px;
  text-align: center;
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}

a:link {
  color: rgb(255, 0, 179);         
}

